@font-face {
    font-family: "pacifico";
    src: url(./fonts/pacifico-webfont.woff2) format("woff2"),
        url(./fonts/pacifico-webfont.woff) format("woff");
}

@font-face {
    font-family: "caviar";
    src: url(./fonts/caviardreams-webfont.woff2) format("woff2"),
        url(./fonts/caviardreams-webfont.woff) format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "caviar";
    src: url(./fonts/caviar_dreams_bold-webfont.woff2) format("woff2"),
        url(./fonts/caviar_dreams_bold-webfont.woff) format("woff");
    font-weight: bold;
}

:root {
    --main-color: #22d3ee;
    --light-color: #ecfeff;
    --dark-color: #155e75;
    --text-color: #083344;
    --hover-color: #06b6d4;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    background-color: var(--light-color);
    position: relative;
    min-width: min-content;
}

/* heater navigation */
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav button {
    appearance: none;
    border: none;
    background-color: var(--main-color);
    font-family: "pacifico", sans-serif;
    font-size: 2rem;
    color: var(--light-color);
}

nav button:hover,
nav button:active {
    background-color: var(--hover-color);
    text-shadow: 0px 0px 8px var(--light-color);
}

/* home page styling */
#content > div {
    display: grid;
    justify-items: center;
    font-family: "caviar", sans-serif;
}

.home-content p{
    font-size: 1.4rem;
    line-height: 1.5;
}

.home-content h2 {
    font-size: 2rem;
    margin: 12px 0;
}

.home-content h2 > span {
    text-decoration: underline;
}

#hero-img {
    width: 100%;
    max-width: 960px;
    object-fit: cover;
    object-position: bottom;
    position: relative;
    margin-bottom: 16px;
}

/* menu page styling */
.menu-content {
    margin-top: 16px;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-auto-rows: 400px;
    gap: 16px;
    justify-content: center;
}

.menu-content div {
    border: 2px solid var(--dark-color);
    border-radius: 6px;
    display: grid;
    justify-items: center;
    gap: 16px;
    padding: 16px 0;

}

.menu-content div:hover {
    background-color: var(--main-color);
    color: var(--light-color);
    h2 {
        text-shadow: 0px 0px 8px var(--light-color);
    }
    border-color: var(--hover-color);
}

.menu-content img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.menu-content p {
    text-align: center;
    font-weight: bold;
    line-height: 1.3;
}

.menu-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-content p,
.menu-content h2 {
    color: inherit;
}

/*About page styling*/
.about-content {
    padding: 16px 16px;
    gap: 24px;
    grid-template-columns: minmax(468px, 960px);
    justify-content: center;
}

.about-content > div {
    display: grid;
    border: 2px solid var(--dark-color);
    border-radius: 6px;
    width: 100%;
    padding: 24px;
    font-size: 1.5rem;
}

.about-content h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 16px;
}